<div class="container">
    <h1>Test</h1>

    <div class="row">

        <div class="col-md-6">
            <app-list></app-list>
        </div>

        <div class="col-md-6">
                <app-test></app-test>
        </div>
    </div>
</div>



<!--
<button (click)="toggleCards()">Toggle cards</button>

<div *ngIf="toggle; else show">
&lt;!&ndash;<app-card></app-card>
<app-card></app-card>
<app-card></app-card>&ndash;&gt;
    <app-card
            *ngFor="let iterCard of cards"
            [card]="iterCard"
    ></app-card>

</div>

<ng-template #show>Card hidden</ng-template>
-->

<!--<app-form></app-form>-->
