<div>

    <div>
        <button (click)="fill()" class="btn btn-primary">Обновить список</button>
        <button (click)="clear()" class="btn btn-danger">Удалить все тексты</button>
    </div>

    <div class="card"  *ngFor="let text of list">
        <h5 class="card-header">ID: {{text.key}} <a href="#" class="btn btn-danger" (click)="remove(r.id)" #r [id]=text.key>Удалить</a></h5>
        <div class="card-body">
            <!--<h5 class="card-title">Special title treatment</h5>-->
            <small class="form-text text-muted">Исходный текст</small>
            <p class="card-text">{{text.inputText}}</p>
            <hr>
            <small class="form-text text-muted">Перевод [ <strong>{{text.targetLang}}</strong> ]</small>
            <p class="card-text">{{text.outputText}}</p>

        </div>
    </div>

</div>
